:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-size: 62.5%;
  --gray-backdrop-color: rgba(0, 0, 0, 0.35);
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-border-color: #cccccc;
}

html {
  font-size: var(--font-size);
}

button {
  cursor: pointer;
}
