:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dimmed-color: rgba(0, 0, 0, 0.35);

  /* title typography */
  --title-size: 18px;
  --title-font-size: 18px;
  --title-font-weight: 700;
  --title-line-height: 26.06px;

  /* button typography */
  --button-font-size: 1em;
  --button-font-weight: 500;

  /* colors */
  --main-color: #213547;
  --button-border-blue: #646cff;
  --grayscale-main: #1a1a1a;
  --black: #000000;
  --white: #ffffff;
  --white-variable: #f9f9f9;
  --purple: #747bff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  font-family: inherit;
  background-color: var(--grayscale-main);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--button-border-blue);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--main-color);
    background-color: var(--white);
  }
  a:hover {
    color: var(--purple);
  }
  button {
    background-color: var(--white-variable);
  }
}
