.app {
  width: 375px;
  height: 100vh;
  margin: auto;
  border: 1px solid black;
}

:root {
  --grey-100: #ffffff;
  --grey-200: rgba(139, 149, 161, 1);
  --primary: rgba(51, 51, 51, 1);
  --danger: #ff3d3d;
}
